body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #070e13;
  color:#E9E5D6;
  margin:auto;
  border-spacing: 2;
  border: 2px;
  padding:1%;
}

header {
  color:#ACB992;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: auto;
}

footer {
  color:#ACB992;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: auto; 
  background-color: #070e13;
  padding: 20px;
}

caption {
  border-radius: 2px;
  background: #ACB992;
}

.button {
  transition-duration: 0.4s;
  color: black;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #bf3612;
  border-radius: 2px;
  position: relative;
  margin: auto;
}

select {
  border-spacing: 2;
  border-collapse: collapse;
  position: relative;
  margin: auto;
  width: 100px;
  height: 42px;
  max-height: 42px;
}


h2 {
  background: #070e13;
  color: #731c13;
}

p {
  color: #94918b;
  justify-content: center;
}

fieldset {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 6px;
  font-size: 20px;
  background-color: #183040;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 250px;
  align-items: center;
  margin: auto;
}

button:hover {
  background-color: #070e13;
}

a {
  text-decoration:none;
  font-family:Arial;
  display: block;
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

tr, td {
  border: 20px solid #183040;
  padding: 20px;
}

caption {
  margin-top: -10px;
  padding: 1%;
  color: #464E2E;
  border: 2px solid #183040;
}

tr, th {
  border: 20px solid #183040;
  padding: 20px;
}

tbody {
  border: 10px solid #bf3612;
}

thead {
  color: #a8a8a6;
  border: 30px;
  background-color: #141414;
}

nav a {
  color: #ACB992;
  background-color:#464E2E;
  text-decoration: none;
}

nav a:hover {
  color: #E9E5D6;
  background-color:#221430;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 2vmin;
  pointer-events: none;
}


.App-header {
  background-color: #070e13;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #ACB992;
}

.App-link {
  color: #61dafb;
}

